/*main-block*/
.main-block {
  width: 100%;
  height: 100vh;
  position: relative; }

.main-block__content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }

.space {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: scaleBig 30s linear, darkness 10s linear 30s;
          animation: scaleBig 30s linear, darkness 10s linear 30s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.light {
  position: absolute;
  top: 30%;
  left: 37%;
  -webkit-animation: scale 30s linear;
          animation: scale 30s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.main-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 8rem;
  height: 100%; }

.main-block__main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3; }

.main-title {
  font-family: "ContextReprise";
  font-size: 15.7rem;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.2em; }

.main-subtitle {
  font-size: 3rem;
  color: #fff;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
  margin-top: 1em;
  margin-bottom: 2.5em; }

.case {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 6.5em;
  color: #fff; }
  .case span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
    .case span::before {
      content: '';
      -webkit-box-flex: 0;
          -ms-flex: none;
              flex: none;
      width: 1.75em;
      height: 3.8333em;
      background: transparent url("../img/case.png") left top no-repeat;
      background-size: contain;
      -webkit-transform: rotate(-90deg) translateY(-20px);
              transform: rotate(-90deg) translateY(-20px); }

.mouse-block {
  text-align: center; }
  .mouse-block img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 1.4em; }

.arrow-down {
  display: inline-block;
  width: 1.7em;
  height: 1em;
  background: transparent url("../img/arrow_down.png") left top no-repeat;
  background-size: contain;
  -webkit-animation: move 2s infinite linear;
          animation: move 2s infinite linear; }

/*# sourceMappingURL=main-block.css.map */